@tailwind base;
@tailwind components;
@tailwind utilities;

.summary_box {
    @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-4;
  }

  .animated-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.animated-text span{
    position: relative;
    
}

.animated-text span::before{
    content: "Youtuber";
    color: #ff7f50;
    animation: words 20s infinite;
    
}


@keyframes goup {
  /* text goes up */
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
  

  
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
  0%, 20% {
      content: "Simple";
      transform: translateY(0);

  }
  21%, 40% {
      content: "Fun";
      
  }
  41%, 61% {
      content: "Interactive";
  }
  62%, 82% {
      content: "Easy";
  }
  83%, 100% {
      content: "intuitive";
  }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
        opacity: 0;
        transition: 1s ease-in-out;
    }
    /* 5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    } */
}