@tailwind base;
@tailwind components;
@tailwind utilities;

.summary_box {
    @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-4;
  }