@tailwind base;
@tailwind components;
@tailwind utilities;



.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
  }
  
  .main:before {
    /* background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%); */
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
  }
  
  .main:after {
    content: "";
    background-image: url("/src/assets/grid.svg");
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
    filter: invert(1);
  }
  
  .gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    max-width: 640px;
    background-image: radial-gradient(
        at 27% 37%,
        hsla(215, 98%, 61%, 1) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, rgb(252, 114, 254) 0px, transparent 70%),
      radial-gradient(at 52% 99%, rgb(58, 227, 253) 0px, transparent 90%),
      radial-gradient(at 10% 10%, rgb(245, 115, 8) 0px 90%),
      radial-gradient(at 10% 30%, rgb(245, 115, 8) 0px, transparent 90%),
      radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 90%),
      radial-gradient(at 70% 80%, rgb(184, 24, 216) 0px, transparent 90%),
      radial-gradient(at 39% 43%, rgb(255, 79, 129) 0px, transparent 90%),
      radial-gradient(at 10% 90%, rgb(255, 79, 129) 0px, transparent 90%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
  }
  